<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908321203827-luk7j6sia32bv833enqbik5neid6f9ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908321203827-luk7j6sia32bv833enqbik5neid6f9ln</string>
	<key>API_KEY</key>
	<string>AIzaSyDlipAKJc0s3HCzi7eN6jzR7d6W4P6PO3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>908321203827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amaAi</string>
	<key>PROJECT_ID</key>
	<string>ama-ai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ama-ai-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908321203827:ios:284c0b40c9bbf289f0ec06</string>
</dict>
</plist>